allow rild proc_net:file { getattr open read write };
allow rild sysfs_sec:file { getattr open read write };
allow rild radio_data_file:lnk_file read;
